
<div class="row">

<div class="col-md-4">
 
<%= image_tag @good.good_img.url(:good_show), class: "good-show" %>
</div>


<div class="col-md-8">
  <div class="good-info">
<h2 class="good.title"><%= @good.title %></h2>
<h4 class="overtreding">Type overtreding: <%= @good.category.name %></h4>
<h4 class="ambtenaar">Vaststellend ambtenaar: <%= @good.user_id %></h4>
<h4 class="andere"><%= @good.other %></h4>
<p class="omschrijving"><%= @good.description %></p>
</div>
</div>

</div>
 <p></p>
<div class="row">
<div class="col-md-4">
<div class="links btn-group">


<% if user_signed_in? %>

        <% if @good.user_id == current_user.id %>
    
        <%=link_to "Wijzig", edit_good_path(@good), class: "btn btn-custom" %>
        <%=link_to "Verwijder", good_path(@good), method: :delete, data: { confirm: "Ben je zeker?" } , class: "btn btn-custom" %>
    
    <% end %>
    
<% end %>

</div>
<div class="reviews" >
  <h1>Opmerkingen</h1>
  <%= render @good.reviews %>
        
        <div>
      
            <%= link_to "Opmerking toevoegen", new_good_review_path(@good), class: "btn btn-custom" %>
                
        </div>
</div>
</div>
        
        
        
</div>
